.blog__section {
    background-color: white;
}

.container__blog {
    display: flex;
    flex-direction: column;
    width: 1400px;
    align-items: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    background: rgb(253, 253, 253);
}