

.container__join {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.social__list-card {
    margin-top: 50px;
    display: flex;
}

.social__card-item {
    
}