 .rewievs__section {
    background-color: rgb(95, 201, 243);
 }

.container__rewievs {
   display: flex;
   flex-direction: column;
   align-items: center;
}

 .rewievs__subtitle {
    margin-top: 37px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 10%;
    text-align: center;
    text-transform: uppercase;
 }


 .bx-wrapper {
   margin: 10px auto;
   width: 1100px;
   border: none;
   box-shadow: none;
   position: relative;
   margin-bottom: 31px;
 }

 /* Стилизация паджера */
 .bx-wrapper .bx-pager.bx-default-pager a  {
   background: rgb(255, 255, 255);
   opacity: 0.5;
 }

 .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: white;
    opacity: 1;
 }
 
 .bxslder{
    display: flex;
    background-color: rgb(95, 201, 243);
 }

 
 
 .rewievs__title{
    margin-top: 8px;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0%;
    text-align: center; 
    margin-bottom: 26px;
 }

 .slider__card {
    width: 501px;
    height: 375px;
    /* ? */
    border-radius: 20px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .slider__card-avatar {
    margin-top: 31px;
    width: 160px;
    height: 160px;
 }


 .slider__card-username  {
    margin-top: 12px;
    color: rgb(16, 58, 88);
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: justify;
   }


.slider__card-text-rewiev{
    margin-top: 14px;
    margin-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    color: rgb(87, 90, 92);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 5%;
    text-align: center;
}


.rewievs__btn {
   margin-top: 30px;
   width: 289px;
   height: 57px;
   border-radius: 13px;
   background: rgb(255, 255, 255);
   border-color: none;
   color: rgb(0, 0, 0);
   cursor: pointer;
   margin-bottom: 110px;
}

.rewievs__btn:hover {
   background-color: rgb(95, 201, 243);
}